/* ESTILO GERAL */
body {
    background-color: rgb(36, 36, 36);
    font-family: 'Ruda', sans-serif;
    font-size: 16px;
    color: rgb(230, 230, 230);
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

@media screen and (min-width: 576px) {

    .titulo {
        padding-left: 15px;
    }

}

/* BOTÕES */
a.botao:link, a.botao:visited, a.botao:hover, a.botao:active {
    color: white;
    text-decoration: none;
}

a.botao:hover {
    text-shadow: 2px 1px 1px #757575;
}

/* RODAPÉ */
.rodape {
    margin-top: 40px;
    padding-top: 40px;
    color: #757575;
    border-top: 1px solid #757575;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

/* RESPONSIVO: > 768px */
@media screen and (min-width: 768px) {

    .rodape {
        padding-right: 0;
        padding-left: 0;
    }

}

/* <hr> */
hr {
    margin: 50px 35px;
    border-color: #757575;
}

/* CARD */
.card {
    color: black;
}

.card-300-px {
    min-width: 300px;
}

/* IMAGENS */
.imagem-raposa {
    max-width: 350px;
}

@media screen and (max-width: 1300px) {

    .img-sobre-mim {
        max-width: 230px;
    }

}

@media screen and (max-width: 768px) {

    .imagem-raposa {
        max-width: 250px;
    }

    .img-sobre-mim {
        max-width: 300px;
    }

}