/* ESTILO GERAL */
body {
    background-color: rgb(36, 36, 36);
    font-family: 'Ruda', sans-serif;
    font-size: 1em;
    color: rgb(230, 230, 230);
}

h1 {
    font-size: 3em;
}

/* Desativa o sublinhado com o mouse sobre os links */
a:hover {
  text-decoration: none;
}

@media screen and (min-width: 576px) {
    .titulo {
        padding-left: 15px;
    }
}

.card {
    color: black;
}

.row-icones a, .row-icones a:hover, .row-icones a:active, .row-icones a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 3em;
}

/* SEÇÕES */
.secao-introducao, .secao-sobre-mim {
    padding: 10px 15px;
    font-size: 1.2em;
}

.rodape {
    margin-top: 40px;
    padding-top: 40px;
    color: #777;
    border-top: 1px solid #777;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

/* RESPONSIVO: > 768px */
@media screen and (min-width: 768px) {
    .rodape {
        padding-right: 0;
        padding-left: 0;
    }
}

/* IMAGENS */
.imagem-kuuhaku {
    max-width: 400px;
}

.imagem-350 {
    max-width: 350px;
}

.imagem-rabi-ribi {
    max-width: 450px;
}

.imagem-segredos-porao {
    max-width: 600px;
}

.imagem-redes-sociais {
    max-width: 300px;
}

@media screen and (max-width: 1200px) {
    .imagem-sobre-mim {
        max-width: 200px;
    }
}

nav .navbar {
    /* Colocar uma borda arredondada */
}