/***** OVERLAY *****/
/* Faz a tela esmaecer enquanto a SIDEBAR estiver ativa */
/* Veja também o <script> no final da página HTML */

div.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

div.overlay.active {
  display: block;
  opacity: 1;
}